<div class="container">
    <h1 class="header-item">Game Manager</h1>
    <ul class="game-list">
        @for(game of gameService.getGames(); let index = $index; track $index) {
        <li class="game-item">
            <div class="game-preview">
                <img [src]="game.previewImage" matTooltip="{{ game.description }}" />
            </div>
            <div class="game-info">
                <h3>{{ game.name }}</h3>
                <p>Size: {{ game.size }}</p>
                <p>Game Mode: {{ game.mode }}</p>
                <p>Last Modified: {{ game.lastModified | date: 'short' }}</p>

                <button class="button" routerLink="/edition" [state]="{ game: game }">Modify Game</button>
                <button class="button" (click)="deleteGame(game.name)">Delete</button>
                <label>
                    <input type="checkbox" [checked]="game.isVisible" 
                    (change)="toggleVisibility(game.name, $event)"/> Show Game
                </label>
            </div>
        </li>
        }
    </ul>
    <button class="create-button" (click)="openDialog()">Create Game</button>
</div>
