.header-item {
    justify-content: center;
    text-align: center;
    color: #d4e1f2;
    font-family: 'Pixel', sans-serif;
    font-size: 60px;
    padding: 20px 40px;
    display: inline-block;
    transform: perspective(500px) rotateX(5deg);
    font-weight: bold;
    color: #d4f1ff;
    text-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
}

.game-missing {
    justify-content: center;
    text-align: center;
    color: #d4f1ff;
    text-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
    font-family: 'Pixel', sans-serif;
    font-size: 30px;
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button-container {
    display: flex;
    gap: 40px;
}

.custom-button {
    padding: 12px 24px;
    font-size: 1.2rem;
}

.custom-button i {
    font-size: 1.2rem;
}

.game-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 14px;
}

.game-info > * {
    margin: 0.3rem;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 65%;
    padding: 0;
    justify-content: center;
    max-height: 60vh;
    overflow-y: auto;
    list-style-type: none;
}

.game-list::-webkit-scrollbar {
    width: 8px;
    background: #1b2a3b; /* Dark background for scrollbar */
}

.game-list::-webkit-scrollbar-track {
    background: #2f486f; /* Slightly lighter track */
}

.game-list::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #d4f1ff, #00c8ff); /* Icy blue gradient */
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8); /* Glowing effect */
}

.game-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #aad4e6, #0094cc); /* Slightly darker on hover */
    box-shadow: 0px 0px 12px rgba(0, 200, 255, 1); /* Stronger glow effect */
}
.icon {
    width: auto;
    height: auto;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.button img {
    width: 40px;
    height: 40px;
}

.button img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
