<div class="container">
    <h1 class="header-item">Gestionnaire De Jeu</h1>
    @if(games && games.length > 0) {
    <ul class="game-list">
        @for(game of games; let index = $index; track $index) {
        <li class="game-item">
            <div class="game-preview">
                <img [src]="game.previewImage" matTooltip="{{ game.description }}" matTooltipPosition="above" />
            </div>
            <div class="game-info">
                <h3>{{ game.name }}</h3>
                <p>Taille: {{ game.size }}x{{ game.size }}</p>
                <p>Mode de jeu: {{ game.mode }}</p>
                <p>Dernière modification: {{ game.lastModified | date: 'short' }}</p>

                <button class="button" routerLink="/edition" [state]="{ game: game }" (click)="updateCurrentGame(game.id)">Modifier le jeu</button>
                <button class="button" (click)="deleteGame(game.id)">Supprimer</button>
                <label> <input type="checkbox" [checked]="game.isVisible" (change)="toggleVisibility(game.id, $event)" /> Afficher le jeu </label>
            </div>
        </li>
        }
    </ul>
    } @else {
    <p>No games available. Please add a game.</p>
    }
    <div class="button-container">
        <button class="create-button" (click)="navigateToHome()">Retour Acceuil</button>
        <button class="create-button" (click)="openDialog()">Créer Un Jeu</button>
    </div>
</div>
