:host {
    display: block;
    height: 100vh;
    margin: 0;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-item {
    justify-content: center;
    text-align: center;
    color: #ffd700;
    font-family: 'Papyrus', 'Comic Sans MS', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 4px #ff8c00;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.create-button {
    margin-top: 10px;
    text-align: center;
    padding: 12px 24px;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #ffd700, #ffa500);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.create-button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #ffc700, #ff8c00);
}

.game-item {
    display: flex;
    align-items: center;
    //border: 3px solid gray;
    //border-radius: 10px;
    padding: 0.75rem;
    flex-direction: column;
    background: linear-gradient(135deg, #3c70de98, #7b2eff9e);
}

.game-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.game-preview img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid;
}

.game-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-info > * {
    margin-bottom: 0.2rem;
}

.button {
    margin-top: 0.5rem;
    text-align: center;
    background: linear-gradient(#6b73ff, #000dff);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.03);
    background: linear-gradient(#6b73ff, #000dff);
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 75%;
    padding: 0;
    justify-content: center;
    max-height: 70vh;
    overflow-y: auto;
}
