<div class="container">
    <h1 class="header-item">Gestionnaire De Jeu</h1>
    @if(games && games.length > 0) {
    <ul class="game-list">
        @for(game of games; let index = $index; track $index) {
        <li class="game-item">
            <div class="game-info">
                <app-game-info [game]="game"></app-game-info>

                <button class="button" routerLink="/edition" [state]="{ game: game }" (click)="updateCurrentGame(game.id)">Modifier le jeu</button>
                <button class="button" (click)="deleteGame(game.id)">Supprimer</button>
                <label> <input type="checkbox" [checked]="game.isVisible" (change)="toggleVisibility(game.id, $event)" /> Afficher le jeu </label>
            </div>
        </li>
        }
    </ul>
    } @else {
    <h2 class="game-missing">
        <p>Aucun jeu disponible. S'il vous plaît, créez-en un.</p>
    </h2>
    }
    <div class="button-container">
        <button class="button custom-button" (click)="navigateToHome()">Retour Acceuil</button>
        <button class="button custom-button" (click)="openDialog()">Créer Un Jeu</button>
    </div>
</div>
