.header-item {
    justify-content: center;
    text-align: center;
    color: #d4e1f2;
    font-family: 'Pixel', sans-serif;
    font-size: 60px;
    padding: 20px 40px;
    display: inline-block;
    transform: perspective(500px) rotateX(5deg);
    font-weight: bold;
    color: #d4f1ff;
    text-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
}
.game-missing {
    justify-content: center;
    text-align: center;
    color: #d4f1ff;
    text-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
    font-family: 'Pixel', sans-serif;
    font-size: 30px;
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 14px;
}

.game-info > * {
    margin: 0.3rem;
}

.button-container {
    display: flex;
    gap: 40px;
}

.custom-button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 65%;
    padding: 0;
    justify-content: center;
    max-height: 60vh;
    overflow-y: auto;
    list-style-type: none;
}

.game-list::-webkit-scrollbar {
    width: 8px;
    background: #1b2a3b;
}

.game-list::-webkit-scrollbar-track {
    background: #2f486f;
}

.game-list::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #d4f1ff, #00c8ff);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
}

.game-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #aad4e6, #0094cc);
    box-shadow: 0px 0px 12px rgba(0, 200, 255, 1);
}
