<div class="container">
    <h1 class="header-item">Création de jeu</h1>

    @if (visibleGames.length > 0) {
    <ul class="game-list">
        @for (game of visibleGames; let index = $index; track $index) {
        <li class="game-item" (click)="openDialog(game)">
            <div class="game-preview">
                <img [src]="game.previewImage" matTooltip="{{ game.description }}" matTooltipPosition="above" />
            </div>
            <div class="game-info">
                <app-game-info [game]="game"></app-game-info>
            </div>
        </li>
        }
    </ul>
    } @else {
    <h2 class="game-missing">
        <p>Aucun jeu disponible. Désolé!</p>
    </h2>
    }
    <div class="button-container">
        <button class="create-button" (click)="navigateToHome()">Retour à l'acceuil</button>
    </div>
</div>
