<div class="game-container">
    <div class="game-info">
        <div class="game-details">
            <h3>Informations de partie</h3>
            <p>Taille de la carte: {{ gameData.game.size }}x{{ gameData.game.size }}</p>
            <p>Joueurs actuels:</p>
            @for(player of gameData.lobby.players; track $index){
            <p
                class="player-name"
                [class.player-admin]="player.isAdmin"
                [class.player-regular]="!player.isAdmin"
                [class.virtual-player]="player.isVirtual"
                [class.abandoned]="player.hasAbandoned"
                [class.active]="gameData.currentPlayer && player.name === gameData.currentPlayer.name"
            >
                {{ player?.name }}
                @if(hasFlag(player)) {
                <img draggable="false" alt="Flag" [src]="getFlagImage(player)" class="flag-overlay" />
                }
                <br />
                Combats gagnés: {{ player.combatWon }}
                @if(player.team !== undefined){
                <span [class.red-flashy]="player.team === teamType.RED" [class.blue-flashy]="player.team === teamType.BLUE" class="flashy"> </span>
                }
            </p>
            } @if(gameData.lobby.players){
            <p>Joueur actif: {{ activePlayerCount }}</p>
            }
        </div>
        <app-player-info></app-player-info>
    </div>

    <div class="game-map-container" [ngClass]="{ 'combat-mode': gameData.isInCombatMode }">
        @if (gameData.isActionMode || gameData.isInCombatMode) {
        <div class="mode-indicator">
            {{ gameData.isInCombatMode ? 'Mode combat' : 'Faites une action' }}
        </div>
        }
        <div class="game-map">
            <app-grid
                [grid]="gameData.game.grid"
                [isActionMode]="gameData.isActionMode"
                [availablePath]="gameData.availablePath"
                [quickestPath]="gameData.quickestPath"
                [isEditionMode]="false"
                [isDebugMode]="gameData.isDebugMode"
                [clientPlayer]="gameData.clientPlayer"
                (tileHovered)="updateQuickestPath($event)"
                (tileClicked)="handleTileClick($event)"
                (doorClicked)="handleDoorClick($event)"
                (wallClicked)="handleWallClick($event)"
                (playerAttacked)="handleAttackClick($event)"
                (teleportClicked)="handleTeleport($event)"
            ></app-grid>
        </div>
    </div>

    <div class="timer-chat-container">
        @if (!gameData.isInCombatMode) {
        <div class="timer">
            @if (gameData.currentPlayer.name === gameData.clientPlayer.name) {
            <p>C'est votre tour</p>
            } @else { @if (gameData.currentPlayer) {
            <p>C'est le tour à {{ gameData.currentPlayer.name }}</p>
            } }
            <p>Temps restant: {{ gameData.turnTimer }} secondes</p>
        </div>
        }

        <div class="action-buttons">
            @if(gameData.currentPlayer.name === gameData.clientPlayer.name){ @if(!gameData.isInCombatMode){
            <button class="action-btn end-turn" (click)="endTurn()" [disabled]="gameData.hasTurnEnded">Terminer tour</button>
            <button class="action-btn execute-action" (click)="executeNextAction()" [disabled]="gameData.clientPlayer.actionPoints === 0">
                {{
                    gameData.clientPlayer.actionPoints === 0
                        ? 'Aucune action restante '
                        : gameData.isActionMode
                        ? 'Canceler action'
                        : 'Exécuter action'
                }}
            </button>
            } }
            <button class="action-btn abandon-game" (click)="abandonGame()">Abandonner</button>
        </div>

        <div class="message-toggle">
            <button [class.active]="activeTab === 'chat'" (click)="activeTab = 'chat'">Clavardage</button>
            <button [class.active]="activeTab === 'log'" (click)="activeTab = 'log'">Journal de bord</button>
        </div>
        @if (activeTab === 'chat'){
        <app-chat [author]="gameData.clientPlayer.name"></app-chat>
        } @if(activeTab === 'log'){
        <app-log-book [playerName]="gameData.clientPlayer.name"></app-log-book>
        }
    </div>
</div>
