.grid-container {
    width: 600px;
    height: 600px;
    display: grid;
    background-color: #ddd;
    border: 2px solid #000;
}

.grid-row {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    object-fit: contain;
}

app-tile {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    border: 2px solid #333;
}
