<div class="grid-container">
    @for (row of grid; track $index) {
    <div class="grid-row">
        @for (tile of row; track $index) {
            <app-tile
            [tile]="tile"
            (mouseenter)="tileHovered.emit(tile)"
            (click)="onTileClick(tile)"
            (contextmenu)="onTileRightClick($event, tile)"
            [ngClass]="{
                'invalid-drop': tile.type === tileType.Wall || tile.isOccupied,
                'valid-drop': tile.type !== tileType.Wall && !tile.isOccupied,
                'available-path': isAvailablePath(tile),
                'quickest-path': isInQuickestPath(tile) && isAvailablePath(tile)
            }"
            [isEditionMode]="isEditionMode"
        ></app-tile>
        }
    </div>
    }
</div>
