.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #ddd;
    border: 4px solid #ffd700;
    background: #333;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    box-sizing: border-box;
}

.grid-row {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    object-fit: contain;
    width: fit-content;
    height: fit-content;
}

app-tile {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    border: 2px solid #333;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

app-tile:hover {
    border-color: #ffd700;
}
