<div class="grid-container">
    @for (row of grid; track $index) {
    <div class="grid-row">
        @for (tile of row; track $index) { @if (isEditionMode) {
        <app-tile
            [tile]="tile"
            [ngClass]="{
                'invalid-drop': tile.type === tileType.Wall || tile.isOccupied,
                'valid-drop': tile.type !== tileType.Wall && !tile.isOccupied
            }"
            [isEditionMode]="isEditionMode"
        ></app-tile>
        } @else {
        <app-tile
            [tile]="tile"
            (mouseenter)="tileHovered.emit(tile)"
            (click)="onTileClick(tile, $event)"
            (contextmenu)="onTileRightClick($event, tile)"
            [ngClass]="{
                'invalid-drop': tile.type === tileType.Wall || tile.isOccupied,
                'valid-drop': tile.type !== tileType.Wall && !tile.isOccupied,
                'available-path': isAvailablePath(tile),
                'quickest-path': isInQuickestPath(tile) && isAvailablePath(tile),
                'highlight-player': isActionMode && tile.player && isAccessible(tile),
                'highlight-door': isActionMode && tile.type === tileType.Door && !tile.item && isAccessible(tile),
                'highlight-wall': isActionMode && hasPickaxeItem() && isAccessible(tile) && tile.type === tileType.Wall,
                'highlight-spawn': tile.id === clientPlayer.spawnPoint?.tileId
            }"
            [isEditionMode]="isEditionMode"
        ></app-tile>
        } }
    </div>
    }
</div>
