<div class="popup" id="popup">
    <div class="popup-grid">
      <div class="popup-row">
        <h2>Création de partie</h2>
      </div>
      <div class="popup-row">
        @for(gameMode of classicGameModes; track gameMode.gameMode) {
            <div class="popup-column">
              <button class="popup-button" routerLink="/edit" (click)="selectGameMode(gameMode.gameMode)"> {{gameMode.gameMode}}</button>
            </div>
        }
      </div>
      <div class="popup-row">
        @for(gameMode of captureTheFlagGameModes; track gameMode.gameMode) {
            <div class="popup-column">
              <button class="popup-button" routerLink="/edit" (click)="selectGameMode(gameMode.gameMode)"> {{gameMode.gameMode}}</button>
            </div>
        }
      </div>
    </div>
  </div>
  