<div class="page">
    <div class="game-info">
        <label for="game-name">Nom du jeu :</label>
        <input id="game-name" type="text" [(ngModel)]="gameName" placeholder="Entrez le nom du jeu" />

        <label for="game-description">Description du jeu :</label>
        <textarea id="game-description" [(ngModel)]="gameDescription" placeholder="Entrez une description du jeu"></textarea>
    </div>

    <div class="tool-container">
        <h1 class="header-item">{{ activeTool }}</h1>
        <div class="tool" id="wall-tool" title="Mur : Bloque le passage." (click)="selectTool('wall', 'assets/images/wall.png')">
            <img src="assets/images/wall.png" alt="Mur" />
            <span>Mur</span>
        </div>
        <div class="tool" id="door-tool" title="Porte : Permet le passage." (click)="selectTool('door', 'assets/images/door.png')">
            <img src="assets/images/door.png" alt="Porte" />
            <span>Porte</span>
        </div>
        <div class="tool" id="water-tool" title="Eau : Bloque certaines unités." (click)="selectTool('water', 'assets/images/water.png')">
            <img src="assets/images/water.png" alt="Eau" />
            <span>Eau</span>
        </div>
        <div class="tool" id="ice-tool" title="Glace : Réduit la vitesse de déplacement." (click)="selectTool('ice', 'assets/images/ice.png')">
            <img src="assets/images/ice.png" alt="Glace" />
            <span>Glace</span>
        </div>
    </div>

    <div class="page-container">
        <h1>Grid Editor</h1>
        <app-grid [rows]="5" [cols]="5"></app-grid>
    </div>
</div>
