@font-face {
    font-family: 'Pixel';
    src: url('../../../assets/fonts/SoulOfHolitter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pixel', sans-serif;
}

.container {
    min-height: 100vh;
    height: auto;
    color: white;
    font-family: 'Pixel', sans-serif;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.custom-button {
    padding: 20px 40px;
    font-size: 1.8rem;
}

.custom-button i {
    font-size: 1.8rem;
}

.team-name {
    font-family: 'Pixel', sans-serif;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    // color: #004080;
    color: #99ccff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.logo-image {
    width: 500px;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
    background-color: none;
}

.footer-item {
    text-align: center;
    color: white;
}

.footer-item p span:nth-child(odd) {
    // color: #66ccff;
    color: #99ccff;
}

.footer-item p span:nth-child(even) {
    // color: #004080;
    color: #2f486f;
}

.footer-item p span {
    font-family: 'Pixel', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

#bottom-left-image {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 200px;
}

a {
    font-family: 'Pixel', sans-serif;
    // color: #66ccff;
    color: #99ccff;
    text-decoration: none;
}

a:hover {
    // color: #004080;
    color: #66aaff;
}
