<div class="container justified">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <h1 class="header-item">{{ title }}</h1>
    <img src="assets/images/logo.png" alt="Logo Projet" class="logo-image" />
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" id="bottom-left-image" />

    <button class="button" id="disabled-button" [disabled]="true"><i class="fa-solid fa-gamepad"></i>Join Game</button>
    <button class="button" routerLink="/create"><i class="fa-solid fa-plus"></i>Create Game</button>
    <button class="button" routerLink="/admin"><i class="fa-solid fa-user-tie"></i>Game Manager</button>

    <footer class="footer-item">
        <h4 class="team-name">Team 309</h4>
        <p>
            <span>Louis-Félix Bellemare</span>, <span>Olivier O'Hara</span>, <span>William Perron</span>, <span>Teo Sain</span>,
            <span>Salma Ben Daly Hassen</span>, <span>Alfred Galibois-Bouchard</span>
        </p>
    </footer>
</div>
