.container {
    min-height: 100vh;
    height: auto;
    color: black;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
    padding: 10px 20px;
    font-size: 1rem;
    background: linear-gradient(135deg, #ffd700, #ffa500);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition:
        transform 0.2s ease,
        background-color 0.2s ease;
}
#disabled-button {
    background: linear-gradient(135deg, #f0e68c, #d3d3d3);
    cursor: not-allowed;
    opacity: 0.6;
    color: #555555;
}

.button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #ffc700, #ff8c00);
}

.team-name {
    font-family: 'Papyrus', 'Comic Sans MS', cursive;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #ffa500;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.header-item {
    justify-content: center;
    text-align: center;
    color: #ffd700;
    font-family: 'Papyrus', 'Comic Sans MS', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 4px #ff8c00;
    margin: 20px 0;
}

.footer-item {
    text-align: center;
}

.footer-item p span:nth-child(odd) {
    color: #ffa500;
}

.footer-item p span:nth-child(even) {
    color: #ffd700;
}

.footer-item p span {
    font-family: 'Papyrus', 'Comic Sans MS', cursive;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px #000;
}
.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.logo-image {
    width: 300px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#bottom-left-image {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 200px;
}
