.container {
    min-height: 100vh;
    height: auto;
    background-color: #add8e6;
    color: black;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.logo-image {
    width: 300px;
    height: auto;
    max-width: 100%;
}

#bottom-left-image {
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 200px;
}
