<div class="chat-wrapper">
    <div class="chat-container">
        <div class="messages-container">
            @for(message of messages; track $index){
            <div class="message other-message">
                {{ message }}
            </div>
            } @for(msg of messagesSent; track $index){
            <div class="message my-message">
                {{ msg }}
            </div>
            }
        </div>

        <div class="input-container">
            <input type="text" [(ngModel)]="message" placeholder="Type a message..." />
            <button (click)="sendMessageToOthers()">Send</button>
        </div>
    </div>
</div>
