<div [class.gray-background]="showForm" class="character-form-container">
    @if (showForm) {
    <div class="character-form_header">
        <div class="character-form_cancel">
            <button class="character-form_cancel-button" (click)="closePopup()">
                <img [src]="xSword" alt="xSword" class="cancel-swords" />
            </button>
        </div>

        <h1 id="character-form_title">Create a Character</h1>
    </div>

    <input type="text" placeholder="Character Name" [(ngModel)]="characterName" />

    <div class="character-form_body">
        <div class="character-form_avatars">
            @for (avatar of avatarTypes; track avatar) {
            <img [src]="avatar" (click)="selectedAvatar = avatar" [class.selected]="selectedAvatar === avatar" alt="Avatar" />
            }
        </div>

        <div class="character-form_attributes">
            @for (attribute of attributeKeys; track attribute) {
            <div>
                <span>
                    {{ attribute.charAt(0).toUpperCase() + attribute.slice(1) }} : {{ attributes[attribute] }} @if (attribute ===
                    attributeTypes.ATTACK && selectedAttackDice) { + {{ selectedAttackDice }} } @if (attribute === attributeTypes.DEFENSE &&
                    selectedDefenseDice) { + {{ selectedDefenseDice }}
                    }
                </span>

                @if (attribute === attributeTypes.VITALITY || attribute === attributeTypes.SPEED) {
                <button (click)="assignBonus(attribute)" [disabled]="bonusAssigned[attribute]">
                    +2 {{ attribute.charAt(0).toUpperCase() + attribute.slice(1) }}
                </button>
                } @if (attribute === attributeTypes.ATTACK || attribute === attributeTypes.DEFENSE) {
                <button (click)="assignDice(attribute)" [disabled]="diceAssigned[attribute]">
                    {{ diceTypes.D6.toUpperCase() }} {{ attribute.charAt(0).toUpperCase() + attribute.slice(1) }}
                </button>
                }
            </div>
            }
        </div>
    </div>

    <button (click)="submitCharacter()">Confirm</button>
    }
</div>
