<div class="Object-container">
    <h1 class="header-item">{{ activeItem?.name || 'None' }}</h1>
    <span>Attributes</span>
    <div
    class="loop-container"
    cdkDropList
    id="item-bar"
    [cdkDropListData]="items"
    [cdkDropListConnectedTo]="['grid-drop-area']"
>
        @for (item of items; track item.id) {
        <div 
            class="item" 
            (click)="selectObject(item)" 
            cdkDrag 
            [cdkDragData]="item" 
            [cdkDragDisabled]="isDragDisabled(item)">
            <img 
                [src]="item.imageSrc || 'assets/images/default.png'" 
                [alt]="item.name || 'Item'" 
            />
        </div>
        }
    </div>
</div>
