<div class="popup-overlay">
    <div class="popup-container">
        <h2 class="popup-title">Sélectionnez un objet</h2>
        <div class="items-container">
            @for (item of data.items; track item.id){
            <div class="item-container" (click)="selectItem(item)">
                <img [src]="item.imageSrc" alt="{{ item.name }}" class="item-image" />
                <div class="item-info">
                    <span class="item-name">{{ item.name }}</span>
                </div>
            </div>
            }
        </div>
    </div>
</div>
