<div class="tool-container">
    <h1 class="header-item">{{ activeTool?.tool || 'Aucun outil sélectionné' }}</h1>
    <div class="tool" id="wall-tool" title="Mur : Bloque le passage.">
        <span>Mur</span>
        <img src="assets/images/wall.png" alt="Mur" (click)="selectTool(tileType.Wall, imageType.Wall)" draggable="false" />
    </div>
    <div class="tool" id="door-tool" title="Porte : Permet le passage.">
        <span>Porte</span>
        <img src="assets/images/porte-ferme.png" alt="Porte" (click)="selectTool(tileType.Door, imageType.ClosedDoor)" />
    </div>
    <div class="tool" id="water-tool" title="Eau : Bloque certaines unités.">
        <span>Eau</span>
        <img src="assets/images/water.png" alt="Eau" (click)="selectTool(tileType.Water, imageType.Water)" />
    </div>
    <div class="tool" id="ice-tool" title="Glace : Réduit la vitesse de déplacement.">
        <span>Glace</span>
        <img src="assets/images/ice.png" alt="Glace" (click)="selectTool(tileType.Ice, imageType.Ice)" />
    </div>
</div>
